body {
    padding: 0;
    text-align: center;
    background-color: #1A1A1A;
    /* background-image: url("../Images/konoha.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */
  }
.title{
  color: #F77F00;
  font-size: 5rem;
  letter-spacing: 3px;
  font-family: karashi, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.arrowImg{
  width: 10rem;
}

#controld div{
  height: 20rem;
}

#controls p {
  font-size: 1.5rem;
  color: white;
  margin: 0;
  letter-spacing: 2px;
  font-family: karashi, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#controls h2 {
  font-size: 2rem;
  color: white;
  margin: 0;
  letter-spacing: 2px;
  font-family: karashi, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


@font-face {
  font-family: Karashi;
  src: url(../fonts/Karasha-z8mYw.otf);
}

#start-screen{
    padding: 20px 0px;
    background-image: url("../Images/narutorun.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    border-radius: 2px;
}

#game-container{
    display: flex;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
}

#stat-container{
  display: none;
}

#stat-container p{
  font-size: 1.5rem;
  color: #F77F00;
}

#game-screen{
    display: none;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(../Images/space_background.jpeg);
    background-size: cover;
    animation: slide 6s linear infinite;
}

@keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    100% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }

  #end-screen {
    display: none;
  }


  body button {
    font-size: 30px;
    background-color: #F77F00;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-family: karashi, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  audio{
    display: none;
  }